DATABASE_URL=sqlite:///./dummy_example.db

SECRET_KEY=DUMMY_SECRET_KEY
ALGORITHM=HS***DUMMY_ALGORITHM***
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

GROQ_API_KEY=gsk_your_dummy_groq_api_key_here
